@{
    ViewData["Title"] = "Contact";
}
    <main class="col-md-9 col-xs-12 nopad pull-right">
        <div id="news-inside">
            <h1 class="page-head">Контакты</h1>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12 contacts" itemscope="" itemtype="http://schema.org/Organization">
            <div class="cont-head">Контакты</div>
            <div class="content">
                <p itemprop="telephone">
                    <strong>
                        (067) 539-38-56<br>
                        (050) 458-20-56<br>
                        (067) 56-113-86<br>
                        (056) 401-33-73<br>
                        (056) 401-39-57
                    </strong>
                </p>
                <p><strong style="font-size: 16px;">В летний период телефоны активны круглосуточно!</strong></p>
                <p><strong>E-mail: </strong> <a href="mailto:blic-tur@ukr.net" itemprop="email">blic-tur@ukr.net</a></p>
                <p><strong>НАШ АДРЕС:</strong></p>
                <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">г. Кривой Рог</span>, <span itemprop="streetAddress">пр. Гагарина, 25</span></p>
                <p>ГРАФИК РАБОТЫ ОФИСА:</p>
                <p>с 9-00 до 18-00 (выходной-понедельник)</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </main>